@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
.skewed {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(to left bottom, #404354c3, #525360b1, #595a64ad, #5f5f6982, #61616a9e), url('../../public/assets/banner3cpy.jpg');    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment:scroll;
    z-index: -1;
    transform: skewY(3deg);
    transform-origin: top right;
  }

  #skewed h2{
    margin: .5rem 3rem;
    color: rgba(227, 227, 227, 0.947);
    font-size: 2.4rem;
    letter-spacing: 2px;
}

#skewed h3{
  letter-spacing: 2px;
    text-align: center;
    font-family: 'Caveat';
}

#skewed .skewed-title{
    margin: 2rem 3rem .8rem;
    padding: .1rem;
    background-color: #fc9c0cf0;
    width: 450px;
}


.Listings {
    margin: 8rem 3rem 2rem 3rem;
    text-align: center;
    font-size: 2rem;
  }
  
  .Listings h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .Listings .listings-btns button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Listings .listings-btns button:hover {
    background-color: #ccc;
  }

 .item-cards{
  display: flex;
 align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: 1rem;
 }
  

/* ProductCard.css */
.cards{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
    cursor: pointer;
}

.cards button{
  margin-left: 1rem;
  margin-right: 1rem;
}
.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    width: 27%;
    margin: 1rem;
    height: 400px;
    cursor: pointer;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .cart-icon{
    text-align: center;
  }
  
  .product-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .product-price {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: #ff0846;
    font-weight: bold;

  }

  .discount{
    margin-bottom: -10px;
  }

  .btn-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid #ddd;
  }
  .add-to-cart{
    border: 1px solid #252525;
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;

  }
  
  .add-to-cart svg {
    width: 30px;
    height: 30px;
   }
   .check-out{
    background-color: #fca311;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .check-out{
    background-color: #fc114c;

  }
  .check-out:hover {
    background-color: #a31136;
  }
  
  .add-to-cart:hover {
    background-color: #5195e7;
  }
  .selected-product {
    display: flex;
    margin: 1rem 1.8rem 2rem 4rem;
    align-items:start;
    justify-content: space-around;
    padding: 2rem 1rem;
  }

  
  .selected-product-img img {
    width: 300px;
    height: auto;
    object-fit: cover;
  }
  
  .selected-product-content {
    flex: 1;
    margin-left: 20px;
    padding: 2rem;
    border-left: 1px solid rgba(105, 105, 105, 0.854);
  }
  
  .selected-product-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 0;
    
  }
  .selected-product-content p:last-of-type{
    color: blue;
    margin-top: 1rem;
    font-size: 17px;
  }
  .selected-product-price {
    font-size: 26px;
    font-weight: bold;
    color: #ff0846;;
  }

 
  .selected-product-content p {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
 .add-to-cart-button {
  cursor: pointer;
    --width: 130px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #ff003c;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin: 1.5rem 0;
  }
  
  .add-to-cart-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
   .add-to-cart-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .add-to-cart-button::after,.add-to-cart-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .add-to-cart-button:hover {
    background: #b80535;
  }
  
  .add-to-cart-button:hover .text {
    top: -100%;
  }
  
  .add-to-cart-button:hover .icon {
    top: 0;
  }
  
  .add-to-cart-button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .add-to-cart-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .add-to-cart-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  .similar-products {
    margin: 40px 0;
  }
  
  .similar-products h2 {
    text-align: left;
    margin: 0 2rem;
    font-size: 1.5rem;
  }
  
  .similar-products-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 20px;
    padding: 10px;
  }
  
  .sim-product-card {
    flex: 0 0 auto;
    width: 230px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .sim-product-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .sim-product-title {
    margin-top: 10px;
    margin-left: 0;
    font-size: 13.5px;
    font-weight: bold;
  }
  
  .sim-product-price {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ff0846;
  }
  
  .sim-product-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .sim-add-to-cart,
  .sim-check-out {
    padding: 6px 12px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .sim-add-to-cart:hover,
  .sim-check-out:hover {
    background-color: #555;
  }
  
  .similar-products-list::-webkit-scrollbar {
    height: 6px;
  }
  
  .similar-products-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  .similar-products-list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .go-back-button{
    margin: 6rem 3rem 1rem;
  }
  
  .go-back-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
  }
  
  .arrow {
    font-size: 18px;
    margin: 1rem;
  }

  .discount{
    display: flex;
    align-items: center;
  }
  .tag-icon {
    margin-right: 8px;
    color: #ff8c00; /* Adjust the color as needed */
  }
  
  .icon-text {
    font-size: 14px;
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
  }

  .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    height: 40px;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 0 10px;
    margin-top: 17px;
  }
  
  .decrement,
  .increment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
  }
  
  .decrement:hover,
  .increment:hover {
    color: #555;
  }
  
  .quantity-value {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }

  .delivery-icon{
    display: flex;
    text-align: left;
    color: gray;
    margin-bottom: 30px;
  }

  #icon{
    font-size: 1.4rem;
  }

  .delivery-icon p :nth-child(1){
    font-weight: bold;
  }

  
  .delivery-information {
    padding: 20px;
    height: 80vh;
    text-align: left;
  }
  
  .delivery-information p {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #777;
    margin-bottom: 1rem;
    margin-left: 15px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .delivery-information .delivery-icon {
    margin-right: 5px;
  }
  

 

  @media (max-width: 768px) {
    .product-card {
      width: 100%;
      margin: 1rem 0;
    }
  
    .selected-product {
      flex-direction: column;
      margin: 1rem 0 2rem 0;
      padding: 2rem 1rem;
    }
  
    .selected-product-img img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .selected-product-content {
      margin: 0;
      padding: 2rem 0;
      border-left: none;
    }
  
    .similar-products-list {
      overflow-x: scroll;
      margin-top: 20px;
      padding: 10px 0;
    }
  
    .similar-products-list::-webkit-scrollbar {
      height: 6px;
    }
  
    .go-back-button {
      margin: 2rem 0 1rem;
    }
  }

  .shop-banner{
    background-image: url('../../public/assets/Pawbg.jpg');
    background-position: center;
    background-size: cover;
    height: 130px;
    margin: 0 2rem;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
}

  @media (max-width: 480px) {
    .product-card {
      padding: 0.8rem;
    }
  
    .product-title {
      font-size: 1rem;
    }
  
    .product-price {
      font-size: 1rem;
    }
  
    .selected-product-img img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  
    .selected-product-content {
      padding: 1rem 0;
    }
  
    .selected-product-content h3 {
      font-size: 18px;
    }
  
    .selected-product-content p:last-of-type {
      font-size: 14px;
    }
  
    .selected-product-price {
      font-size: 20px;
    }
  
    .similar-products h2 {
      font-size: 1.2rem;
    }
  
    .sim-product-title {
      font-size: 12px;
    }
  
    .sim-product-price {
      font-size: 13px;
    }
  
    .go-back-button {
      margin: 1rem 0 0.5rem;
    }
  }